<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <h1><b>About Us</b></h1>
        <a class="btn btn-dark" href = "/" button type="button">Home</a></button> 
        <a class="btn btn-dark" href = "/tableau1" button type="button">Tableau 1</a></button>
        <a class="btn btn-dark" href = "/tableau2" button type="button">Tableau 2</a></button>
        <a class="btn btn-dark" href = "/predictor" button type="button">Search for music</a></button>
        <br></br>
    </div>

</body>
</html>