<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tableau Direct Embed</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</head>

<body>
    <div class="jumbotron">
        <h1>This is Tableau 1 Page</h1>
        <a class="btn btn-dark" href = "/homepage" button type="button">Home</a></button> 
        <a class="btn btn-dark" href = "/tableau2" button type="button">Tableau 2</a></button>
        <a class="btn btn-dark" href = "/predictor" button type="button">Search for music</a></button>
        <a class="btn btn-dark" href = "/about_us" button type="button">About Us</a></button><br></br> 
    </div>
</body>

</html>