body {
  background-color: #191414;
  background-image: url("../images/spotify-music.gif");
}

.jumbotron {
  /* background-image: url("../images/spotify-music.gif"); */
  background-size: 100% 100%;
  background-color: #1DB954;
  text-align: center;
  text-emphasis-color: #191414;
}

h1 {
  color: #191414;}

.article-title, .article-p {
  padding: 20px;
}
form {
  padding: 5px;
}

#filter-btn {
  width: 100%;
}
